# **Seminario de métodos computacionales para lenguas amerindias**
### Roberto Zariquiey Biondi, rzariquiey@pucp.edu.pe 
### Javier Vera Zúñiga, jveraz@pucp.edu.pe

## Datos de [Wals](https://github.com/cldf-datasets/wals/tree/master/cldf), [Glottolog](https://glottolog.org/meta/downloads), [diccionarios](https://realpython.com/python-dicts/) y [pandas](https://pandas.pydata.org/) (también [ver](https://pandas.pydata.org/docs/user_guide/index.html))

In [1]:
## importamos la librería
import pandas as pd

In [75]:
## descomente en el desafío

##from google.colab import files
##uploaded = files.upload()

## Glottolog

In [46]:
## https://glottolog.org/meta/downloads
languages_glotto = pd.read_csv('languages_and_dialects_geo.csv')

In [47]:
languages_glotto

,glottocode,name,isocodes,level,macroarea,latitude,longitude
0,3adt1234,3Ad-Tekles,NaN,dialect,Africa,NaN,NaN
1,aala1237,Aalawa,NaN,dialect,Papunesia,NaN,NaN
2,aant1238,Aantantara,NaN,dialect,Papunesia,NaN,NaN
3,aari1239,Aari,aiw,language,Africa,5.95034,36.5721
4,aari1240,Aariya,aay,language,Eurasia,NaN,NaN
...,...,...,...,...,...,...,...
21647,zuwa1238,Zuwadza,NaN,dialect,Papunesia,NaN,NaN
21648,zwal1238,Zwall,NaN,dialect,Africa,NaN,NaN
21649,zyph1238,Zyphe,zyp,language,Eurasia,22.52400,93.2640
21650,zyud1238,Zyuzdin,NaN,dialect,Eurasia,NaN,NaN
21651,huaa1249,ǂHua,NaN,dialect,Africa,NaN,NaN

In [48]:
## reducimos las columnas

languages_glotto = languages_glotto[['glottocode','name','isocodes','macroarea','latitude','longitude']]

In [49]:
# ahora, filtramos las filas que tienen datos faltantes

languages_glotto = languages_glotto.dropna()

In [50]:
languages_glotto

      glottocode             name isocodes      macroarea  latitude  longitude
3       aari1239             Aari      aiw         Africa   5.95034   36.57210
5       aasa1238            Aasax      aas         Africa  -4.00679   36.86480
11      abad1241            Abadi      kbt      Papunesia  -9.03389  146.99200
13      abag1245            Abaga      abg      Papunesia  -6.12028  145.66500
15      abai1240      Abai Sungai      abf      Papunesia   5.55394  118.30600
...          ...              ...      ...            ...       ...        ...
21634   zuma1239           Zumaya      zuy         Africa  10.55798   14.44451
21636   zumb1240           Zumbun      jmb         Africa  10.82700    9.96830
21641   zuni1245             Zuni      zun  North America  35.00560 -108.78200
21642   zuoj1238  Zuojiang Zhuang      zzj        Eurasia  22.40000  106.90000
21649   zyph1238            Zyphe      zyp        Eurasia  22.52400   93.26400

[7809 rows x 6 columns]

### Pregunta 1: ¿Cuántas lenguas hay por macroarea?

In [51]:
## identificamos las macroareas

## definimos una lista vacía
macroareas = []

## recorremos la lista de macroareas
for M in list(languages_glotto['macroarea']):
    ## si no está, la agregamos
    if M not in macroareas:
        macroareas += [M]

In [52]:
## verificamos

macroareas

['Africa',
 'Papunesia',
 'Eurasia',
 'South America',
 'North America',
 'Australia']

In [53]:
## diccionario de macroareas

macroareas_dict = {}

## recorremos las macroareas
for M in macroareas:
    ## filtramos por lenguas de una macroarea
    languages_macroarea = languages_glotto[languages_glotto['macroarea'] == M]
    ## agregamos
    macroareas_dict[M] = languages_macroarea

In [54]:
## número de lenguas: tamaño de los dataframes

for M in macroareas_dict.keys():
    ## mostramos el largo de los dataframes
    print(M, len(macroareas_dict[M]))

Africa 2243
Papunesia 2150
Eurasia 1817
South America 547
North America 686
Australia 366

### Pregunta 2: ¿Cuántas familias lingüísticas hay por macroarea?

In [58]:
## https://glottolog.org/meta/downloads
languoid = pd.read_csv('languoid.csv')

In [59]:
languoid

,id,family_id,parent_id,name,bookkeeping,level,latitude,longitude,iso639P3code,description,markup_description,child_family_count,child_language_count,child_dialect_count,country_ids
0,3adt1234,afro1255,nort3292,3Ad-Tekles,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1,aala1237,aust1307,ramo1244,Aalawa,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
2,aant1238,nucl1709,nort2920,Aantantara,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
3,aari1238,sout2845,ahkk1235,Aari-Gayil,False,family,NaN,NaN,aiz,NaN,NaN,0,2,0,NaN
4,aari1239,sout2845,aari1238,Aari,False,language,5.95034,36.5721,aiw,NaN,NaN,0,0,0,ET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26280,zuti1239,tupi1275,guaj1255,Guajajára of Zutiua,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
26281,zuwa1238,koia1260,omie1241,Zuwadza,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
26282,zwal1238,atla1278,shal1242,Zwall,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
26283,zyph1238,sino1245,nucl1757,Zyphe,False,language,22.52400,93.2640,zyp,NaN,NaN,0,0,2,IN MM
26284,zyud1238,ural1272,komi1269,Zyuzdin,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN

In [61]:
languoid = languoid[['id', 'family_id']]

In [62]:
# ahora, filtramos las filas que tienen datos faltantes

languoid = languoid.dropna()

In [63]:
languoid

             id family_id
0      3adt1234  afro1255
1      aala1237  aust1307
2      aant1238  nucl1709
3      aari1238  sout2845
4      aari1239  sout2845
...         ...       ...
26280  zuti1239  tupi1275
26281  zuwa1238  koia1260
26282  zwal1238  atla1278
26283  zyph1238  sino1245
26284  zyud1238  ural1272

[25858 rows x 2 columns]

In [64]:
## diccionario lengua:familia

## lista lenguas
L = list(languoid['id'])

## lista familias
F = list(languoid['family_id'])

## diccionario vacío
language_family = {}

## recorremos las lenguas: usamos los índices
for i in range(len(list(languoid['id']))):
    
    ## lengua
    lengua = L[i]
    
    ## familia
    familia = F[i]
    
    ## creamos el par lengua:familia
    language_family[lengua] = familia

In [68]:
## el diccionario macroareas_dict tiene como keys las macroareas y como values los dataframes
## creamos una versión con las lenguas

macroareas_dict_lenguas = {}

## recorremos las macroareas
for macroarea in macroareas_dict.keys():
    
    ## dataframe
    lenguas = macroareas_dict[macroarea]
    
    ## lenguas
    lenguas = list(lenguas['glottocode'])
    
    ## guardamos
    macroareas_dict_lenguas[macroarea] = lenguas

In [69]:
## comprobamos! número de lenguas: tamaño de las listas

for M in macroareas_dict_lenguas.keys():
    ## mostramos el largo de las listas
    print(M, len(macroareas_dict_lenguas[M]))

Africa 2243
Papunesia 2150
Eurasia 1817
South America 547
North America 686
Australia 366

### Desafío grupal. Responda la pregunta 2. 
¿Qué podríamos concluir de estos cálculos? ¿Qué otras preguntas cuantitativas sobre familias lingüísticas podrían hacerse?

**Recomendación!** Defina un diccionario en donde intercambie las lenguas de **macroareas_dict_lenguas** por las familias del diccionario **language_family**. Tengan la precaución de saltarse las lenguas que no aparezcan en el diccionario **language_family**.

### Pregunta 3: ¿Cuántas lenguas están anotadas en Wals por macroarea?

In [70]:
## lenguas de wals https://github.com/cldf-datasets/wals/tree/master/cldf
languages_wals = pd.read_csv('languages_wals.csv')

In [71]:
languages_wals

,ID,Name,Macroarea,Latitude,Longitude,Glottocode,ISO639P3code,Family,Subfamily,Genus,GenusIcon,ISO_codes,Samples_100,Samples_200,Country_ID,Source
0,aab,Arapesh (Abu),Papunesia,-3.450000,142.950000,abua1245,aah,Torricelli,NaN,Kombio-Arapesh,c51CC56,aah,False,False,PG,Nekitel-1985
1,aar,Aari,Africa,6.000000,36.583333,aari1239,aiw,Afro-Asiatic,Omotic,South Omotic,c708033,aiw,False,False,ET,Hayward-1990a
2,aba,Abau,Papunesia,-4.000000,141.250000,abau1245,aau,Sepik,NaN,Abau,c807433,aau,False,False,PG,Bailey-1975
3,abb,Arabic (Chadian),Africa,13.833333,20.833333,chad1249,shu,Afro-Asiatic,NaN,Semitic,cB3CC51,shu,False,False,TD,Abu-Absi-1995
4,abd,Abidji,Africa,5.666667,-4.583333,abid1235,abi,Niger-Congo,Kwa,Agneby,c523380,abi,False,False,CI,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2657,zte,Zapotec (Texmelucan),North America,16.500000,-97.166667,texm1235,zpz,Oto-Manguean,NaN,Zapotecan,c5162CC,zpz,False,False,MX,NaN
2658,zul,Zulu,Africa,-30.000000,30.000000,zulu1248,zul,Niger-Congo,Benue-Congo,Bantu,cC3CC51,zul,True,True,ZA,Canonici-1989 Canonici-1995 Cope-1982 Dahl-198...
2659,zun,Zuni,North America,35.083333,-108.833333,zuni1245,zun,NaN,NaN,NaN,c805C33,zun,False,False,US,Bunzel-1933-1938 Bybee-et-al-1994 Cook-1975 Mi...
2660,zya,Zapotec (Yatzachi),North America,17.200000,-96.200000,yatz1235,zav,Oto-Manguean,NaN,Zapotecan,c5162CC,zav,False,False,MX,Butler-1980
2661,zzo,Zapotec (Zoogocho),North America,17.250000,-96.250000,zoog1238,zpq,Oto-Manguean,NaN,Zapotecan,c5162CC,zpq,False,False,MX,Long-C-and-Cruz-M-1999 Sonnenschein-2005

In [72]:
## lista de lenguas de wals
lista_lenguas_wals = list(languages_wals['Glottocode'])

## creamos un diccionario con listas
macroareas_dict_lenguas_wals = {M:[] for M in macroareas_dict_lenguas.keys()}

## recorremos las macroareas de macroareas_dict_lenguas
for M in macroareas_dict_lenguas.keys():
    
    ## lenguas de una macroarea
    lenguas_macroarea = macroareas_dict_lenguas[M]
    
    ## revisamos cuáles de estas lenguas están en wals
    for lengua in lenguas_macroarea:
        ## si está en la lista de lenguas de wals
        if lengua in lista_lenguas_wals:
            ## guardamos
            macroareas_dict_lenguas_wals[M] += [lengua]

In [73]:
## miramos! 

for M in macroareas_dict_lenguas.keys():
    ## mostramos el largo de las listas
    print(M, len(macroareas_dict_lenguas[M]), len(macroareas_dict_lenguas_wals[M]))

Africa 2243 567
Papunesia 2150 546
Eurasia 1817 543
South America 547 240
North America 686 346
Australia 366 162

### Preguntas pendientes: 
- ¿Cuántas familias están anotadas en Wals para cada macroarea?
- ¿Cúantos rasgos están anotados en Wals para todas las lenguas? ¿En promedio, cuántos rasgos están anotados para una lengua cualquiera? ¿Y por macroárea?
- Considere las lenguas de Sudamérica. Asuma que una lengua está anotada en Wals si tiene al menos un rasgo. ¿Qué porcentaje de lenguas de cada familia lingüística está anotada en Wals?
- ¿Qué porcentaje del total de rasgos de Wals están anotados para las lenguas de Sudamérica?